$default: #bbbbbb;
$default-light: #eeeeee;
$default-font: #ffffff;

$light: #ffffff;
$light-light: #ffffff;
$light-font: #000000;

$dark: #333333;
$dark-light: #e6e6e6;
$dark-font: #ffffff;

$primary: #0047c1;
$primary-light: #e0ecff;
$primary-font: #ffffff;

$secondary: #ffef31;
$secondary-light: #fffef0;
$secondary-font: #000000;

$success: #00c139;
$success-light: #000000;
$success-font: #ffffff;

$warn: #f97822;
$warn-light: #000000;
$warn-font: #ffffff;

$error: #c10000;
$error-light: #000000;
$error-font: #ffffff;