.gw-row {
	display: flex;
	flex-direction: row;
}

.gw-column {
	display: flex;
	flex-direction: column;
}

.gw-column.gw-left-h {
	align-items: flex-start;
}

.gw-row.gw-left-h {
	justify-content: flex-start;
}

.gw-column.gw-center-h {
	align-items: center;
}

.gw-row.gw-center-h {
	justify-content: center;
}

.gw-column.gw-right-h {
	align-items: flex-end;
}

.gw-row.gw-right-h {
	justify-content: flex-end;
}

.gw-row.gw-left-v {
	align-items: flex-start;
}

.gw-column.gw-left-v {
	justify-content: flex-start;
}

.gw-row.gw-center-v {
	align-items: center;
}

.gw-column.gw-center-v {
	justify-content: center;
}

.gw-row.gw-right-v {
	align-items: flex-end;
}

.gw-column.gw-right-v {
	justify-content: flex-end;
}